In [21]:
import pandas as pd
import numpy as np
import math
import warnings

warnings.filterwarnings('ignore')

In [22]:
sales_data = pd.read_csv("Sara's copy of sales.csv") #replace with file name

In [23]:
sales_data
#review data to see that it looks correct:

,Total Sales,Oct FY15,Nov FY15,Dec FY15,Jan FY15,Feb FY15,Mar FY15,Apr FY15,May FY15,Jun FY15,...,Jul-FY20,Aug-FY20,Sept-FY20,Oct-FY21,Nov-FY21,Dec-FY21,Jan-FY21,Feb-FY21,Mar-FY21,Apr-FY21
0,Carmel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,314,261,266,213,328,551,258,170,252,156
1,Fishers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,351,318,245,202,261,221,575,314,272,244
2,Greenwood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,223,261,254,219,632,362,216,191,186,269
3,Noblesville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,North Indianapolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,South Indianapolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48,56,53,31,31,42,38,21,33,17
6,Zionsville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80,75,46,23,20,33,15,16,35,40
7,Batavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81,104,90,57,54,54,39,27,87,75
8,Dekalb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,155,254,135,114,98,128,104,84,96,86
9,East Moline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,Geneva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132,125,103,585,166,122,115,88,86,96
11,Genoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,North Aurora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34,40,50,32,29,41,36,20,27,18
13,Oswego,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98,141,102,83,100,96,96,94,91,101
14,Plainfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90,94,108,90,67,56,74,53,73,82
15,Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55,41,52,28,24,30,25,29,27,30
16,Rock Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
17,Romeoville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58,64,58,50,37,52,76,61,63,68
18,Sandwich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20,13,15,21,15,17,16,14,16,18
19,South Elgin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49,45,53,41,41,54,48,52,52,45
20,St. Charles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121,103,83,84,66,94,79,64,63,80
21,Sugar Grove,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52,66,52,60,43,40,36,36,36,41
22,Sycamore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48,63,94,65,51,59,51,55,280,126
23,Yorkville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94,102,59,58,61,68,61,38,53,57
24,Berea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Lexington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"1,606","1,622","1,155","1,018",983,"1,164","1,153",929,"1,338","1,001"
26,Nicholasville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60,382,425,304,495,342,208,365,367,438
27,Richmond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,50,61,673,349,189,198,246,137,82,76
28,Versailles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156,229,157,136,163,112,106,63,63,60
29,Lansing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,93,115,86,124,124,146,120,114,154,227
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,Spring Lake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,0%,0%
1231,Clayton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,2%,0%,0%,3%,269%
1232,Englewood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,174%,66%
1233,Huber Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,0%,0%
1234,Tipp City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,889%,81%,47%,64%,81%,78%,263%
1235,Troy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,44%,45%,32%,105%,162%,70%
1236,Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,245%,622%,2033%,350%,520%,4133%
1237,Vandalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,352%,97%,10%,19%,17%,247%,307%
1238,West Milton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,0%,0%
1239,Tallahassee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,50%,40%,37%
1240,Connersville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,900%,0%
1241,Crawfordsville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1400%,600%,900%,650%,2200%,14500%,-3400%
1242,Franklin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,833%,422%,78%,733%,489%,425%,183%
1243,Greencastle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,650%,200%,500%,900%,1000%,-150%,1300%
1244,Huntington,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,733%,83%,-67%,450%,433%,529%,171%
1245,Lafayette,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,108%,190%,114%,83%,176%,333%,144%
1246,Lebanon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,322%,367%,300%,522%,311%,150%,292%
1247,Madison,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,267%,-343%,-114%,86%,175%,-57%
1248,New Castle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,700%,500%,-2800%,-1400%,1200%,1800%,2600%
1249,Seymour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2350%,1700%,-1450%,200%,1200%,0%,1650%
1250,Vincennes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2700%,3000%,1100%,3000%,2600%,1800%,8300%
1251,Wabash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1100%,800%,-2050%,0%,350%,960%,560%
1252,Westfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,142%,62%,113%,138%,132%,111%,123%
1253,BloomingtonNormal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,71%,65%,58%,69%,54%,66%,80%
1254,Ann Arbor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,0%,0%
1255,Detroit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,-100%,0%
1256,East Lansing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,67%,-2%,-6%,13%,20%,-5%,16%
1257,Grand Rapids,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5%,-9%,11%,50%,0%,-5%,2%
1258,Southfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,0%,0%
1259,Toledo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0%,0%,0%,0%,0%,0%,0%

In [24]:
num_months = sales_data.shape[1] - 1

In [25]:
a1 = 'Total Sales' #replace Total Sales with what's in the A1 cell of your Excel file


markets = sales_data[a1].unique()
markets
#check to see that only market names remain below

array(['Carmel', 'Fishers', 'Greenwood', 'Noblesville',
       'North Indianapolis', 'South Indianapolis', 'Zionsville',
       'Batavia', 'Dekalb', 'East Moline', 'Geneva', 'Genoa',
       'North Aurora', 'Oswego', 'Plainfield', 'Plano', 'Rock Island',
       'Romeoville', 'Sandwich', 'South Elgin', 'St. Charles',
       'Sugar Grove', 'Sycamore', 'Yorkville', 'Berea', 'Lexington',
       'Nicholasville', 'Richmond', 'Versailles', 'Lansing', 'Ypsilanti',
       'Austin', 'Cologne', 'Jaguar', 'Lakeville', 'Mancato',
       'Northfield', 'Rochester', 'Victoria', 'Waconia', 'Watertown',
       'Ames', 'Bettendorf', 'Clive', 'Davenport', 'Grimes', 'Johnston',
       'Le Claire', 'Nevada', 'Urbandale', 'Fayetteville', 'Greenville',
       'Hope Mills', 'Raeford', 'Spring Lake', 'Clayton', 'Englewood',
       'Huber Heights', 'Tipp City', 'Troy', 'Union', 'Vandalia',
       'West Milton', 'Tallahassee', 'Connersville', 'Crawfordsville',
       'Franklin', 'Greencastle', 'Huntington', 'Lafayette', 'Lebanon',
       'Madison', 'New Castle', 'Seymour', 'Vincennes', 'Wabash',
       'Westfield', 'BloomingtonNormal', 'Ann Arbor', 'Detroit',
       'East Lansing', 'Grand Rapids', 'Southfield', 'Toledo'],
      dtype=object)

In [26]:
num_markets = len(markets)

In [27]:
new_table = pd.DataFrame(columns = ['Market'])
new_table['Market'] = ['Carmel', 'Fishers', 'Greenwood', 'Noblesville',
       'North Indianapolis', 'South Indianapolis', 'Zionsville',
       'Batavia', 'Dekalb', 'East Moline', 'Geneva', 'Genoa',
       'North Aurora', 'Oswego', 'Plainfield', 'Plano', 'Rock Island',
       'Romeoville', 'Sandwich', 'South Elgin', 'St. Charles',
       'Sugar Grove', 'Sycamore', 'Yorkville', 'Berea', 'Lexington',
       'Nicholasville', 'Richmond', 'Versailles', 'Lansing', 'Ypsilanti',
       'Austin', 'Cologne', 'Jaguar', 'Lakeville', 'Mancato',
       'Northfield', 'Rochester', 'Victoria', 'Waconia', 'Watertown',
       'Ames', 'Bettendorf', 'Clive', 'Davenport', 'Grimes', 'Johnston',
       'Le Claire', 'Nevada', 'Urbandale', 'Fayetteville', 'Greenville',
       'Hope Mills', 'Raeford', 'Spring Lake', 'Clayton', 'Englewood',
       'Huber Heights', 'Tipp City', 'Troy', 'Union', 'Vandalia',
       'West Milton', 'Tallahassee', 'Connersville', 'Crawfordsville',
       'Franklin', 'Greencastle', 'Huntington', 'Lafayette', 'Lebanon',
       'Madison', 'New Castle', 'Seymour', 'Vincennes', 'Wabash',
       'Westfield', 'BloomingtonNormal', 'Ann Arbor', 'Detroit',
       'East Lansing', 'Grand Rapids', 'Southfield', 'Toledo']

In [28]:
final_table = pd.concat([new_table]*num_months, ignore_index=True).sort_values('Market')

In [29]:
#check to see that dates below are accurate
dates = pd.DataFrame({'date': ['Oct FY15', 'Nov FY15', 'Dec FY15', 'Jan FY15', 'Feb FY15', 'Mar FY15',
       'Apr FY15', 'May FY15', 'Jun FY15', 'Jul FY15', 'Aug FY15', 'Sept FY15',
       'Oct FY16', 'Nov FY16', 'Dec FY16', 'Jan FY16', 'Feb FY16', 'Mar FY16',
       'Apr FY16', 'May FY16', 'Jun FY16', 'Jul FY16', 'Aug FY16', 'Sept FY16',
       'Oct FY17', 'Nov FY17', 'Dec FY17', 'Jan FY17', 'Feb FY17', 'Mar FY17',
       'Apr FY17', 'May FY17', 'Jun FY17', 'Jul FY17', 'Aug FY17', 'Sept FY17',
       'Oct-FY18', 'Nov-FY18', 'Dec-FY18', 'Jan-FY18', 'Feb-FY18', 'Mar-FY18',
       'Apr-FY18', 'May-FY18', 'Jun-FY18', 'Jul-FY18', 'Aug-FY18', 'Sept-FY18',
       'Oct-FY19', 'Nov-FY19', 'Dec-FY19', 'Jan-FY19', 'Feb-FY19', 'Mar-FY19',
       'Apr-FY19', 'May-FY19', 'Jun-FY19', 'Jul-FY19', 'Aug-FY19', 'Sept-FY19',
       'Oct-FY20', 'Nov-FY20', 'Dec-FY20', 'Jan-FY20', 'Feb-FY20', 'Mar-FY20',
       'Apr-FY20', 'May-FY20', 'Jun-FY20', 'Jul-FY20', 'Aug-FY20', 'Sept-FY20',
       'Oct-FY21', 'Nov-FY21', 'Dec-FY21', 'Jan-FY21', 'Feb-FY21', 'Mar-FY21',
       'Apr-FY21']})


dates_expanded = pd.concat([dates]*num_markets, ignore_index=True)
final_table['Month-FY'] = dates_expanded['date'].values

In [30]:
def pivot_to_array(n):
    return sales_data.iloc[(n)*num_markets : (n+1)*num_markets].sort_values(a1).drop(columns = [a1]).values.flatten()

In [31]:
#Replace with the column names you want in your final table
column_names = ['Sales', 'SSU', 'RSA', 'DSA & Reseller', 'Close Ratio', 'Sales Budget', 'Sales to Budget', 'Sales Target', 
                'Sales to Target', 'OE Call Sales', 'Net New Subs', 'Net New Budget', 'Net New to Budget', 'Net New Target', 
                'Net New to Target']


num_columns = len(column_names)
col_numbers = list(range(num_columns))

In [32]:
matrix = list(map(pivot_to_array, col_numbers))

In [33]:
for i in range(num_columns):
    final_table[column_names[i]] = matrix[i]

In [34]:
final_table

,Market,Month-FY,Sales,SSU,RSA,DSA & Reseller,Close Ratio,Sales Budget,Sales to Budget,Sales Target,Sales to Target,OE Call Sales,Net New Subs,Net New Budget,Net New to Budget,Net New Target,Net New to Target
3317,Ames,Oct FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3485,Ames,Nov FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3569,Ames,Dec FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3653,Ames,Jan FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3737,Ames,Feb FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,Ames,Mar FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3821,Ames,Apr FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3905,Ames,May FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3989,Ames,Jun FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4073,Ames,Jul FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4157,Ames,Aug FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4241,Ames,Sept FY15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4325,Ames,Oct FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4409,Ames,Nov FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4493,Ames,Dec FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4577,Ames,Jan FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,Ames,Feb FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4661,Ames,Mar FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5753,Ames,Apr FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5669,Ames,May FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5585,Ames,Jun FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5501,Ames,Jul FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Ames,Aug FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5417,Ames,Sept FY16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3401,Ames,Oct FY17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5333,Ames,Nov FY17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5165,Ames,Dec FY17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5081,Ames,Jan FY17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,Ames,Feb FY17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4913,Ames,Mar FY17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,Zionsville,Nov-FY19,104,12,21,71,0%,1,10400%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1854,Zionsville,Dec-FY19,27,6,14,7,0%,1,2700%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3366,Zionsville,Jan-FY19,145,30,51,64,1075%,69,210%,NaN,NaN,43,94,NaN,NaN,NaN,NaN
3450,Zionsville,Feb-FY19,56,6,19,31,214%,66,85%,NaN,NaN,15,55,NaN,NaN,NaN,NaN
6390,Zionsville,Mar-FY19,90,16,25,49,440%,56,161%,NaN,NaN,22,77,NaN,NaN,NaN,NaN
4122,Zionsville,Apr-FY19,85,15,32,38,580%,44.87900055,189%,NaN,NaN,29,84,NaN,NaN,NaN,NaN
4206,Zionsville,May-FY19,132,22,50,60,1800%,48.24550576,274%,NaN,NaN,36,100,NaN,NaN,NaN,NaN
1182,Zionsville,Jun-FY19,58,13,25,20,525%,45,129%,NaN,NaN,21,51,NaN,NaN,NaN,NaN
3534,Zionsville,Jul-FY19,96,8,28,60,2100%,63.90006122,150%,NaN,NaN,21,76,NaN,NaN,NaN,NaN
5298,Zionsville,Aug-FY19,56,7,24,25,0%,58.6,96%,NaN,NaN,19,56,NaN,NaN,NaN,NaN
2190,Zionsville,Sept-FY19,55,14,27,14,2500%,51.6,107%,NaN,NaN,25,40,NaN,NaN,NaN,NaN
5802,Zionsville,Oct-FY20,44,10,28,6,0%,54,81%,NaN,NaN,25,41,33,124%,NaN,NaN
5970,Zionsville,Nov-FY20,44,7,23,14,440%,51,86%,NaN,NaN,22,36,33,109%,NaN,NaN
2862,Zionsville,Dec-FY20,33,11,22,NaN,120%,48,69%,NaN,NaN,18,34,29,117%,NaN,NaN
1266,Zionsville,Jan-FY20,74,2,25,47,85%,47,157%,NaN,NaN,22,42,31,135%,NaN,NaN
2946,Zionsville,Feb-FY20,23,6,6,11,40%,43,53%,NaN,NaN,4,39,29,134%,NaN,NaN
5382,Zionsville,Mar-FY20,28,11,15,2,125%,41,68%,NaN,NaN,15,19,27,70%,NaN,NaN
4290,Zionsville,Apr-FY20,29,10,15,4,214%,38,76%,NaN,NaN,15,26,23,113%,NaN,NaN
5466,Zionsville,May-FY20,40,13,21,6,87%,46,87%,NaN,NaN,20,25,23,109%,NaN,NaN
3618,Zionsville,Jun-FY20,32,9,20,3,106%,44,73%,NaN,NaN,19,25,19,132%,NaN,NaN
3030,Zionsville,Jul-FY20,80,18,21,41,118%,46,174%,NaN,NaN,20,39,22,177%,NaN,NaN
6,Zionsville,Aug-FY20,75,12,12,51,100%,43,174%,NaN,NaN,10,65,17,382%,NaN,NaN
5046,Zionsville,Sept-FY20,46,14,23,9,129%,41,112%,NaN,NaN,18,43,21,205%,NaN,NaN
1014,Zionsville,Oct-FY21,23,6,7,10,0%,27,85%,30,77%,5,12,18,67%,21,57%
2106,Zionsville,Nov-FY21,20,7,7,6,0%,26,77%,29,69%,3,4,18,22%,21,19%
4794,Zionsville,Dec-FY21,33,9,13,11,0%,20,165%,23,143%,9,24,18,133%,21,114%
4038,Zionsville,Jan-FY21,15,5,8,2,0%,29,52%,33,45%,4,10,18,56%,21,48%
1602,Zionsville,Feb-FY21,16,4,9,3,0%,24,67%,27,59%,6,10,18,56%,21,48%
6306,Zionsville,Mar-FY21,35,4,10,21,0%,34,103%,37,95%,8,20,20,100%,23,87%
3114,Zionsville,Apr-FY21,40,4,10,26,0%,23,174%,26,154%,7,29,18,161%,21,138%

In [35]:
#final_table.to_csv("sales_for_power_bi.csv") #replace with what you want your new file to be called